<md-card class="card-layout">
  <form #captureForm="ngForm">
    <md-input-container class="input-full-width">
      <input mdInput placeholder="Device Name" name="deviceName" id="deviceName" required minlength="2" maxlength="50">
    </md-input-container>
    <md-input-container class="input-full-width">
      <input mdInput placeholder="Device Brand" name="brand" id="brand" required minlength="2" maxlength="50">
    </md-input-container>
    <md-input-container class="input-full-width">
      <input mdInput placeholder="Type" name="type" id="type" required minlength="2" maxlength="50">
    </md-input-container>
    <md-input-container class="input-full-width">
      <input mdInput placeholder="Quantity" name="quantity" required minlength="2" maxlength="50">
    </md-input-container>
    <br>
    <button md-raised-button primary [disabled]="captureForm.invalid">Save</button>
  </form>
</md-card>
