  <md-toolbar>
    <button class="nav-button" type="button" md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    Device Tracker
  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="false">
      <md-list>
        <md-list-item><a href="#" routerLink="/devices" (click)="sidenav.toggle()">All Devices</a></md-list-item>
        <md-list-item><a href="#" routerLink="/add" (click)="sidenav.toggle()">Add Device</a></md-list-item>
        <md-list-item><a href="#" (click)="sidenav.toggle()">Microcomputers</a></md-list-item>
        <md-list-item><a href="#" (click)="sidenav.toggle()">Tablets</a></md-list-item>
        <md-list-item><a href="#" (click)="sidenav.toggle()">Phones</a></md-list-item>
        <md-list-item><a href="#" (click)="sidenav.toggle()">Networking</a></md-list-item>
      </md-list>
    </md-sidenav>
    <div class="my-content">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
