  <md-toolbar>
    <button class="nav-button" type="button" md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    Device Tracker
  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="false">
      <md-list>
        <md-list-item><a href="#" routerLink="/devices" (click)="sidenav.toggle()">All Devices</a></md-list-item>
        <md-list-item><a href="#" routerLink="/add" (click)="sidenav.toggle()">Add Device</a></md-list-item>
        <md-list-item><a href="#" (click)="sidenav.toggle()">Microcomputers</a></md-list-item>
        <md-list-item><a href="#" (click)="sidenav.toggle()">Tablets</a></md-list-item>
        <md-list-item><a href="#" (click)="sidenav.toggle()">Phones</a></md-list-item>
        <md-list-item><a href="#" (click)="sidenav.toggle()">Networking</a></md-list-item>
      </md-list>
    </md-sidenav>
    <div class="my-content">
      <router-outlet></router-outlet>
      <md-card class="card-layout">
        <p>
          Lorem ipsum dolor sit amet, pede a libero aenean phasellus, lectus metus sint ut risus,
          fusce vel in pellentesque. Nisl rutrum etiam morbi consectetuer tempor magna, aenean
          nullam nunc id, neque vivamus interdum sociis nulla scelerisque sem, dolor id wisi turpis
          magna aliquam magna. Risus accumsan hac eget etiam donec sed, senectus erat mattis quam,
          tempor vel urna occaecat cras, metus urna augue nec at. Et morbi amet dui praesent,
          nec eu at, ligula ipsum dui sollicitudin, quis nisl massa viverra ligula,
          mauris fermentum orci arcu enim fringilla. Arcu erat nulla in aenean lacinia ullamcorper,
          urna ante nam et sagittis, tristique vehicula nibh ipsum vivamus, proin proin.
          Porta commodo nibh quis libero amet. Taciti dui, sapien consectetuer.
        </p>
      </md-card>
    </div>
  </md-sidenav-container>
